/* .product figure, .product p{
    display: inline-block;
    vertical-align: top;
    width: 45%;
} */
/* .product figure, .product p{
    display: table-cell;
    vertical-align: top;
    width: 50%;
} */
.product{
    border: solid .25em rgb(32, 32, 32);
    display: flex;
    flex-flow: row wrap;
}
.product h3{
    flex-basis: 100%;
}
.product figure, .product p{
    flex-basis: 50%;
}
.product figure{
    margin: 0;
    text-align: center;
}
